n8n/local-files/workflows/Experience_evaluation.json
{
  "updatedAt": "2026-02-21T18:00:09.536Z",
  "createdAt": "2026-02-21T17:57:50.451Z",
  "id": "rOV2EuzGnacKZlWr",
  "name": "Experience evaluation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -896,
        128
      ],
      "id": "125bc43e-69c4-48b5-8f96-d911d7287db8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OZ5cAhOeShwXrHJIs5jEy8K7B5DGGCVZ1xOag9uy0cw",
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZ5cAhOeShwXrHJIs5jEy8K7B5DGGCVZ1xOag9uy0cw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZ5cAhOeShwXrHJIs5jEy8K7B5DGGCVZ1xOag9uy0cw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Required work experience (AI)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        128
      ],
      "id": "c087fe2f-b2ec-4140-a8a5-3635dbaed093",
      "name": "Get row(s) in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "29Rz0mjE5fBaNOyJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        128
      ],
      "id": "1c07d2df-cc55-4189-83d5-0b9968725b0b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        16,
        224
      ],
      "id": "a8f22e10-a61c-4315-ab41-113bbda500e2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HQYxoeuEJ8DCKoIh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        128
      ],
      "id": "ecf8f1b7-97cc-4b90-adeb-6c63e280e4a0",
      "name": "Wait",
      "webhookId": "a1fe2aa7-b1ef-4220-bf87-652720571626"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Job title:\n{{ $json.Title }}\n# Job description: \n{{ $json.Markdown_desc }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Role: Technical Recruiter. Task: Extract strict job data to JSON.\n\n### INPUT CONTEXT\nThe user will provide a job description in **Markdown** format.\n* Job descriptions can contain Finnish or English text\n* Use structural cues like `###` (headers) to identify sections.\n* Prioritize skills listed in bullet points (`-` or `*`) over those hidden in paragraphs.\n\n### 1. WORK HISTORY CLASSIFICATION\nClassify work history into exactly one: [\"Entry-level\", \"1-2 years of experience\", \"2-5 years of experience\", \"5+ years of experience\"].\n\n**CORE PRINCIPLE: SKILL LEVEL IS NOT WORK EXPERIENCE.**\nDistinguish between *how good* someone is (Proficiency) and *how long* they have worked (Experience).\n* *Example:* \"Strong knowledge of Python\" = **Entry-level** (Proficiency).\n* *Example:* \"Strong commercial experience with Python\" = **Experienced** (Work History).\n\n**Logic Map (Follow strictly in order):**\n\n**Principle 0: Job Title Consideration**\n* If the Job Title contains \"Junior\", \"Graduate\", \"Intern\", or \"Associate\" ->  Job requires lower work experience -> Bias downwards\n* If the Job Title contains \"Senior\", \"Principal\", or \"Lead\" -> Job requires higher work experience -> Bias upwards\n\n**Principle 1: Explicit Numbers**\n* If a specific number is stated (e.g., \"3+ years\"), use it exactly.\n\n**Principle 2: Inference (The Star Rule)**\n* If NO numbers are present, infer ONLY from specific **WORK history** statements (e.g., \"Proven track record\", \"Commercial background\").\n* **Bias Downwards:** If unsure, choose the lower class.\n* **Formatting:** If you inferred this class (i.e., no explicit number was found), you MUST add a star `*` to the beginning of the string.\n    * *Example:* `\"*1-2 years of experience\"`\n\n**Principle 3: The \"Adjective Trap\"**\n* **IGNORE** adjectives like \"Strong\", \"Advanced\", \"Deep\", \"Expert\" unless they are directly attached to the word \"Experience\" or \"History\".\n\n### 2. SKILL EXTRACTION (RANK & LIMIT)\n**Constraint A: The \"Top 5\" Rule**\n- Strict budget: **MAXIMUM 5 SKILLS**.\n- **Ranking Logic:** Delete \"soft\" skills (Communication, Agile) and \"nice-to-haves\". Keep only the most important technical hard requirements.\n- **Source:** Look primarily at Markdown bullet lists (`-` or `*`) under \"Requirements\" headers (`###`).\n\n**Constraint B: Nouns Only (No Sentences)**\n- **Strictly Forbidden:** phrases like \"Experience with...\" or \"Ability to...\".\n- **Allowed:** Only the tool name.\n    * *Bad:* \"Building CI/CD pipelines\"\n    * *Good:* \"CI/CD\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "7bce4fc8-1650-4ce3-bcdc-de7f9128e809",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"experience_level\": {\n      \"type\": \"string\",\n      \"enum\": [\"Entry-level\", \"1-2 years of experience\", \"2-5 years of experience\", \"5+ years of experience\", \"*Entry-level\", \"*1-2 years of experience\", \"*2-5 years of experience\", \"*5+ years of experience\"]\n    },\n    \"skills\": {\n      \"type\": \"array\",\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"Name of the tool/technology only. No sentences.\"\n      }\n    }\n  },\n\"required\": [\"experience_level\", \"skills\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        144,
        224
      ],
      "id": "3e27412a-1453-488c-ad05-53488856de6e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OZ5cAhOeShwXrHJIs5jEy8K7B5DGGCVZ1xOag9uy0cw",
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZ5cAhOeShwXrHJIs5jEy8K7B5DGGCVZ1xOag9uy0cw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OZ5cAhOeShwXrHJIs5jEy8K7B5DGGCVZ1xOag9uy0cw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Required work experience (AI)": "={{ $json.output.experience_level }}",
            "Top skills": "={{ $json.output.skills.join(\", \") }}",
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "Title": "={{ $('Get row(s) in sheet').item.json.Title }}",
            "Location": "={{ $('Get row(s) in sheet').item.json.Location }}",
            "Company": "={{ $('Get row(s) in sheet').item.json.Company }}",
            "Description": "={{ $('Get row(s) in sheet').item.json.Description }}",
            "URL": "={{ $('Get row(s) in sheet').item.json.URL }}",
            "Apply URL": "={{ $('Get row(s) in sheet').item.json['Apply URL'] }}",
            "Date posted": "={{ $('Get row(s) in sheet').item.json['Date posted'] }}",
            "Level": "={{ $('Get row(s) in sheet').item.json.Level }}",
            "Type": "={{ $('Get row(s) in sheet').item.json.Type }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description HTML",
              "displayName": "Description HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date posted",
              "displayName": "Date posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apply URL",
              "displayName": "Apply URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Level",
              "displayName": "Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Required work experience (AI)",
              "displayName": "Required work experience (AI)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Top skills",
              "displayName": "Top skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        0
      ],
      "id": "d2258338-b3bc-473a-88c3-7e569da8a716",
      "name": "Update row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "29Rz0mjE5fBaNOyJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json['Description HTML'] }}",
        "destinationKey": "Markdown_desc",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -448,
        128
      ],
      "id": "ca79b5e5-b365-4851-bf67-84a9277419ac",
      "name": "Markdown"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "85635f7a-90fd-42b6-9178-f5db20386eba",
  "activeVersionId": "85635f7a-90fd-42b6-9178-f5db20386eba",
  "versionCounter": 6,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-21T17:57:50.455Z",
      "createdAt": "2026-02-21T17:57:50.455Z",
      "role": "workflow:owner",
      "workflowId": "rOV2EuzGnacKZlWr",
      "projectId": "HuVyKMJS0o2NnDU1",
      "project": {
        "updatedAt": "2026-02-21T17:42:00.552Z",
        "createdAt": "2026-02-21T12:10:50.937Z",
        "id": "HuVyKMJS0o2NnDU1",
        "name": "Henri Välimäki <henri.valimaki@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a87e1521-473c-4fb5-bb11-f3bde98ba630"
      }
    }
  ]
}